* {
  margin:0;
  padding:0;
}

.App {
  background-color: #D6D6D6;
}

.contentContainer {
  /* background-color: pink; */
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
}

.linkContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 12rem
}

.subtitleContainer {
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 100;
}

.title {
  font-size: 80px
}

.subtitle {
  font-weight: normal;
  font-size: small;
  padding: 0 0 0 0.3rem;
  border-bottom: 1px dashed black;
}

.mainTitle {
  padding: 0.5rem 0 0.5rem 0.3rem;
  text-decoration: underline;
}

.faqBody {
  padding: 0.3rem 0 1rem 0.3rem;
}

.link {
  color: black;
  cursor: pointer;
}

.link:hover {
  color: grey;
  cursor: pointer;
}